#form-container {
    color: $dashG-black !important;
    background-color: white;
    display: block;
    padding-top: 20px;
    touch-action: manipulation;

    h4, div {
        
        color: $dashG-black !important;

    }
}