.name-logo-xs {
    height: 30px;
}

.name-logo-s {
    height: 50px;
}

.name-logo-m {
    height: 150px;
}

.name-logo-l {
    height: 300px;
}

.name-logo-xl {
    height: 400px;
}

.box-logo-xs {
    height: 75px;
}

.box-logo-s {
    height: 100px;
}

.box-logo-m {
    height: 250px;
}

.box-logo-l {
    height: 350px;
}

.box-logo-xl {
    height: 500px;
}