/*to generate @font-face tags for a chosen font, visit: https://www.fontsquirrel.com/tools/webfont-generator*/


/* http://www.1001fonts.com/carbon-font.html */
@font-face {
  font-family: 'carbon';
  src: url('/assets/fonts/carbon_bl-webfont.eot');
  src: url('/assets/fonts/carbon_bl-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/carbon_bl-webfont.woff2') format('woff2'),
  url('/assets/fonts/carbon_bl-webfont.woff') format('woff'),
  url('/assets/fonts/carbon_bl-webfont.ttf') format('truetype'),
  url('/assets/fonts/carbon_bl-webfont.svg#carbonblack') format('svg');
  font-weight: normal;
  font-style: normal;

}
