/* standard media query variables */
$landscape-phone-and-below-max-width: 480px;
$landscape-phone-to-portrait-tablet-max-width: 767px;
$portrait-tablet-to-landscape-and-desktop-min-width: 768px;
$portrait-tablet-to-landscape-and-desktop-max-width: 979px;
$large-desktop-min-width: 1200px;

/* color blind safe color palette - see: https://personal.sron.nl/~pault/ */
$gray: #777777;
$red: #EE3333;
$orange: #EE7722;
$yellow: #FFEE33;
$yellow-green: #CCCC55;
$green: #66AA55;
$teal: #11AA99;
$blue: #3366AA;
$purple: #992288;

$white: white;
$black: #222222;

/* fonts */

$header-font: 'carbon';
$regular-font: Arial;
$regular-font-size: 16px;

/* style guide */
$button-fill: $blue;
$text-color: $black;

$border-radius: 4px;